/* general */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Fredoka', sans-serif;
  background-color: #fffffe;
  color: white;
}

h1, h3{
  font-family: 'Fredoka One', cursive;
}

.clearfix::after{
content: "";
display: table;
clear: both;
}

/* .debug{
  border: 1px solid black;
} */

/* Header */

h1{
  color: #E43170;
  text-align: center;
  margin: 25px auto;
}

/* Main */

.container{
  width: 90%;
  max-width: 1200px;
  margin:0 auto;
}

.intro-text{
  text-align: center;
  margin-bottom: 25px;
  padding: 0 16px;
  color: black;
}

.row{
  padding: 10px;
}

.col{
  float:left;
  width: calc(100% / 3);
  min-width: 344px;
  padding:0 16px;
  margin-bottom: 50px;
}

.card{
  background-color: black;
  box-shadow:0 0 8px 4px #C4C4C3;
  height: 100px;
}

.card img{
  height: 100px;
  float: left;
}

.card .description{
  float:right;
  width: calc(100% - 100px);
  padding-left:30px;
  padding-top: 10px;
  line-height: 1.5rem;
}

.card h3{
  text-transform: uppercase;
}

.card a{
  color: #4DCCF2;
  text-decoration: none;
}

.card a:hover{
  text-decoration: underline;
}
