/* general */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Fredoka', sans-serif;
}

h1{
  color: #E43170;
  text-align: center;
  margin: 50px;
}

h3{
  text-transform: uppercase;
}
.container{
  width: 1200px;
  margin:50px 50px;
  border: 1px solid black;
}

.head{
  text-align: center;

}

.cards{
  text-align: center;
}

.row{
  display: inline-block;

}

.row .col{
  float:left;
  width: 360px;
  background-color: black;
}

.description{
  padding:10px;
  line-height: 1.5rem;
  text-align: left;
}

h2, h3, h4, h5, h6{
  color: white;
}

.mail{
  color: #4DCCF2;
}

img{
  height: 100px;
  float: left;
  margin-right: 15px;
}